:root {
    --color-brand: #819B57;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-secondary-dark: #a28268;

}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;