.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

}